---
import Image from "astro/components/Image.astro"
---
<header class="flex w-full justify-center items-center border-b">
    <div class="w-full h-20 flex px-4 max-w-7xl justify-center lg:justify-start">
        <Image src="/logo.gif" alt="Instinct" width={480} height={160} class="w-auto mix-blend-multiply" />
    </div>
</header>
  