---
import { Button } from "@/components/ui/button";
---

<section class="flex flex-col w-full items-center justify-center">
            <div class="max-w-2xl flex flex-col pt-16 items-center h-[calc(100vh-80px)]">
                 <div class="flex flex-col items-center gap-8">
                    <div class="px-2 max-w-md"> 
                    <video
                        src="/video.mp4"
                        autoplay
                        loop
                        muted
                        playsinline
                        width={720}
                        height={720}
                        class="aspect-square object-cover mix-blend-multiply w-full "
                    />
                 </div>
                 <div class="flex flex-col gap-4 items-center">
                    <h1 class="text-center">
                        Your cheatcode to
                        <br />
                        Internet Capital Markets.
                    </h1>
                    <span class="eyebrow text-center">
                        One click exposure to tokenized assets.
                        <br />
                        Curated from the hottest trends of the internet.
                    </span> 
                </div>  
                <Button size={"lg"} className="px-12 text-lg">
                    <a href={"https://t.me/+zYR_6cl-wa03N2M1"} target="_blank" rel="noreferrer noopener">
                        Join the Telegram →
                    </a>
                </Button>
                 </div>
            </div>
        </section>