---
import { Button } from "@/components/ui/button"
import Column from "@/components/ui/column.astro"
import Section from "@/components/ui/section.astro"
import HeroCopy from "@/components/motion/hero-copy"
---

<Section>
  <div class="items-center flex flex-col lg:flex-row-reverse md:justify-center gap-12 lg:justify-between pt-16 lg:py-28">
    <video
      src="/video.mp4"
      autoplay
      loop
      muted
      playsinline
      class="aspect-square w-full max-w-md mix-blend-multiply"
    />
    <Column class="items-center lg:items-start gap-4 py-6">
      <HeroCopy client:load />
      <Button size="lg">
        <a href="https://t.me/+zYR_6cl-wa03N2M1" target="_blank" rel="noreferrer noopener">
          Request an Invite →
        </a>
      </Button>
    </Column>
  </div>
</Section>
